.DS_Store
node_modules
/dist
/.VSCodeCounter

.vscode

# local env files
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

static.zip

pnpm-lock.yaml

packages/**/dist
*.pack.zip
meta-cli.json

packages/ui/public/meta-helper.js

packages/docs/.vitepress/cache
